[submodule "third_party/scod-regression"]
	path = third_party/scod-regression
	url = https://github.com/agiachris/scod-regression.git
[submodule "third_party/pybox2d"]
	path = third_party/pybox2d
	url = https://github.com/pybox2d/pybox2d
